.Welcome{
    display: flex;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-9349de);
    justify-content: center;
    font: normal normal bold 20px/20px Open Sans;
    letter-spacing: 0px;
    color: #9349DE;
    opacity: 1;
}
.Email{
    top: 419px;
    left: 694px;
    width: 300px;
    height: 30px;
/* UI Properties */
    border: 1px solid var(--unnamed-color-e2e2e2);
    background: #FFFFFF99 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    opacity: 1; 
}
.Password{
    top: 566px;
    left: 694px;
    width: 300px;
    height: 30px;
/* UI Properties */
    border: 1px solid var(--unnamed-color-e2e2e2);
    background: #FFFFFF99 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    opacity: 1;
}