.App-logo {
  top: 25px;
  width: 260px;
  height: 97px;
  opacity: 1;
  align-items: center;
  position: relative;
}

.App-header {
  background-image: url('./assets/Main Page/background_begin.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Login{
  background-color: chocolate;
  top: 100px;
  opacity: 1;
  display: grid;
  position: relative;

  width: 345px;
  height: 64px;
  border-radius: 37px;
  box-shadow: 0px 5px 20px #00000024;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 20px/27px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.Login:hover{
  color: gray;
}
.Login:active{
  background-color: purple;
}

.Create_account{
  top: 110px;
  background: var(--unnamed-color-6318af) 0% 0% no-repeat padding-box;
  background: #6318AF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #00000024;
  opacity: 1;
  position: relative;

  width: 345px;
  height: 64px;
  border-radius: 37px;
  box-shadow: 0px 5px 20px #00000024;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.Create_account:hover{
  color: gray;
}
.Create_account:active{
  background-color:purple;
}

.Login-window-content{
  /* top: 240px;
  left: 556px; */
  width: 808px;
  height: 630px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 12px #00000024;
  border-radius: 10px;
  opacity: 1;

}
.Register-window{
  /* top: 140px;
  left: 280px; */
  width: 1360px;
  height: 900px;
/* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 12px #00000024;
  border-radius: 10px;
  opacity: 1;
}
/* .popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  height: 630px;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
} */

.Email{
  top: 419px;
  left: 694px;
  width: 532px;
  height: 64px;
  /* UI Properties */
  border: 1px solid var(--unnamed-color-e2e2e2);
  background: #FFFFFF99 0% 0% no-repeat padding-box;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  opacity: 1;
  align-items: center;
}
.Password{
  top: 566px;
  left: 694px;
  width: 532px;
  height: 68px;
  /* UI Properties */
  border: 1px solid var(--unnamed-color-e2e2e2);
  background: #FFFFFF99 0% 0% no-repeat padding-box;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  opacity: 1;
}
